---
layout: "_innerPage.njk"
---
<nav class="container nav">
  <a href="/writing" class="breadcrumb link rosegold">return to writing</a>
  <a href="/" class="nav__home link rosegold">
    bryn newell
    <span class="nav__home-detail breadcrumb link rosegold">return home</span>
  </a>
</nav>

<section class="writingInner">
  {% if not hideTitle %}
  <h1 class="writingInner__heading">{{ title }}</h1>
  {% endif %}

  {% if hideTitle %}
  <div class="writingInner__spacer"></div>
  {% endif %}
  <time datetime={{date}} class="writingInner__date">{{ date | formatDate }}</time>

  <article class="article flow">
    {{ content | safe }}
  </article>
</section>