{% set pageTitle = 'Bryn Newell | Full Stack Creative Developer' %}
{% if title %}
{% set pageTitle = title + ' | Bryn Newell' %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="og:locale" content="en_US">
  <meta name="og:type" content="website">
  <meta name="author" content="Bryn Newell">
  <meta name="theme-color" content="#BC5652">
  <meta name="title" content="{{ pageTitle }}">
  {% if pageDescription %}
  <meta name="description" content="{{ pageDescription }}">
  <meta property="og:description" content="{{ pageDescription }}">
  <meta name="twitter:description" content="{{ pageDescription }}">
  {% else %}
  <meta name="description" content="The personal portfolio site of Bryn Newell">
  <meta property="og:description" content="The personal portfolio site of Bryn Newell">
  <meta name="twitter:description" content="The personal portfolio site of Bryn Newell">
  {% endif %}
  <meta name="image" content="/assets/favicon-wide.png">
  <meta property="og:title" content="{{ pageTitle }}">
  <meta property="og:image" content="/assets/favicon-wide.png">
  <meta property="og:url" content="https://bryn.codes">
  <meta name="og:site_name" content="Bryn Newell | Full Stack Creative Devloper">
  <meta name="msapplication-TileColor" content="#BC5652">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="bryn.codes">
  <meta property="twitter:url" content="https://bryn.codes">
  <meta name="twitter:title" content="Bryn Newell | Full Stack Creative Developer">
  <meta name="twitter:image" content="/assets/favicon-wide.png">

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.png" />
  <link rel="icon" href="/assets/favicon.png" />
  <link href="/css/vendor/prism.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/main.css" />

  <title>{{ pageTitle }}</title>
</head>

<body>
  {{ content | safe }}
  <script src="/js/clickableCard.js"></script>
  <script src="/js/censorContent.js"></script>
</body>

</html>