<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <meta name="author" content="Bryn Newell">
    <meta name="theme-color" content="BD5854">
    <meta name="title" content="Bryn Newell | Full Stack Creative Developer">
    <meta name="description" content="The personal portfolio site of Bryn Newell">
    <meta name="image" content="<%= BASE_URL %>favicon.png">
    <meta property="og:title" content="Bryn Newell | Full Stack Creative Developer">
    <meta property="og:description" content="The personal portfolio site of Bryn Newell">
    <meta property="og:image" content="<%= BASE_URL %>favicon.png">
    <meta property="og:url" content="https://bryn.codes">
    <meta name="og:site_name" content="Bryn Newell | Full Stack Creative Devloper">
    <meta name="msapplication-TileColor" content="BD5854">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Bryn Newell | Full Stack Creative Developer">
    <meta name="twitter:description" content="The personal portfolio site of Bryn Newell">
    <meta name="twitter:site" content="https://bryn.codes">
    <meta name="twitter:creator" content="@bryn_newell">
    <meta name="twitter:image" content="https://bryn.codes/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>favicon.png">
    <meta>
    <link rel="icon" href="<%= BASE_URL %>favicon.png">
    <title>Bryn Newell | Full Stack Creative Developer</title>
  </head> -->


  <body>
      <header class="main">
        <img
          src="/assets/mainBG.jpg"
          class="header-image"
          alt=""
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="image-fade"
        >
          <defs>
            <linearGradient
              id="lgrad"
              x2="0"
              y2="1"
            >
              <stop
                offset="85%"
                stop-color="white"
              />
              <stop
                offset="100%"
                stop-color="black"
              />
            </linearGradient>
            <mask
              id="fade"
              maskContentUnits="objectBoundingBox"
            >
              <rect
                width="1"
                height="1"
                fill="url(#lgrad)"
              />
            </mask>
          </defs>
        </svg>
        <section class="content">
          <h1 class="header">bryn newell<span
              class="decoration"
              aria-hidden="true"
            >—</span></h1>
          <div class="desc-container">
            <p class="description">Hi there!<br />I'm bryn (she/her), a creative developer passionate about creating accessible and beautiful front-end code, curating communities, and moving the needle forward in any environment I can.</p>
            <!-- <SocialLinks /> -->
          </div>
          <nav class="site-sections">
            <a
              class="link"
              href="#blog"
            >blog</a>
            <a
              class="link"
              href="#projects"
            >projects</a>
            <a
              class="link"
              href="#resume"
            >resume/cv</a>
          </nav>
        </section>
      </header>
  </body>
</html>

