<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="og:locale" content="en_US">
    <meta name="og:type" content="website">
    <meta name="author" content="Bryn Newell">
    <meta name="theme-color" content="#BC5652">
    <meta name="title" content="Bryn Newell | Full Stack Creative Developer">
    <meta name="description" content="The personal portfolio site of Bryn Newell">
    <meta name="image" content="/assets/favicon.png">
    <meta property="og:title" content="Bryn Newell | Full Stack Creative Developer">
    <meta property="og:description" content="The personal portfolio site of Bryn Newell">
    <meta property="og:image" content="/assets/favicon.png">
    <meta property="og:url" content="https://bryn.codes">
    <meta name="og:site_name" content="Bryn Newell | Full Stack Creative Devloper">
    <meta name="msapplication-TileColor" content="#BC5652">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon.png" />
    <link rel="icon" href="/assets/favicon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Bryn Newell | Full Stack Creative Developer</title>
  </head>
   <body>
    {{ content | safe }}
  </body>
</html>