	<section id="projects" class="projects-section">
		<h2 class="projects-section__title outline-font">projects</h2>
    {% for project in projects %}
		<div
			class="project"
		>
			<span class="outline-font black project__number">0{{ loop.index }}</span>
			<h3 class="project__title">{{ project.title }}</h3>
			<p class="project__date">{{ project.date }}</p>
			<p
				class="project__description"
			>{{ project.description | safe }}</p>
			<ul class="project__tools">
        {% for tool in project.tools %}
				<li
				>{{ tool }}</li>
        {% endfor %}
			</ul>
      {% if project.link %}
			<a
				href="{{project.link}}"
				class="project__link link rosegold"
				target="_blank"
				ref="noopener noreferrer"
			>see the work<span
					class="decoration"
					aria-hidden="true"
				>—</span></a>
        {% endif %}
		</div>
    {% endfor %}
	</section>