<nav class="social-links">
  <a href="https://github.com/bryn-newell" target="_blank" ref="noopener noreferrer">
    <span class="sr-only">Visit my Github</span>
    {% include 'icons/github.html' %}
  </a>
  <a href="https://bsky.app/profile/bryn.codes" target="_blank" ref="noopener noreferrer">
    <span class="sr-only">Visit my Bluesky</span>
    {% include 'icons/bsky.html' %}
  </a>
  <a href="https://www.linkedin.com/in/bryn-newell/" target="_blank" ref="noopener noreferrer">
    <span class="sr-only"> visit my Linked In</span>
    {% include 'icons/linkedin.html' %}
  </a>
</nav>