@use '../variables' as *;
@use '../mixins';

.writingInner {
  padding-block: 1.25rem;

  &__heading {
    font-family: 'Avenir';
    font-size: $step-4;
    margin-block: 1.5rem;
  }

  .article {
    ol {
      @include mixins.flow;
      padding-inline: 1.25rem;
    }
  }
}