@use '../variables' as *;
@use '../mixins';
@use '../styles';

.writingInner {
  max-width: 65ch;
  width: 100%;
  padding-block-end: 4rem;

  &__heading {
    font-family: 'Avenir';
    font-size: $step-3;
    margin-block-start: 1.5rem;
    margin-block-end: .5rem;
  }

  &__date {
    color: $text-secondary;
    display: inline-block;
    font-size: $step--1;
    margin-block-end: 2rem;
  }

  &__spacer {
    margin-block-start: 2rem;
  }

  .article {
    padding-block-end: 3rem;

    ol {
      @include mixins.flow;
    }
  }

  hr {
    margin-block-start: $hr-spacing;
  }

  h2 {
    font-size: $step-2;
  }

  a {
    @extend .link, .rosegold;
  }

  p:has(small) {
    color: $text-secondary;
    font-size: $step--1;
    margin-block-start: 0;
    text-align: right;
  }

  img, figure {
    border-radius: 4px;
    max-width: 500px;
    margin-inline: auto;
  }

  figure:has(figcaption) {
    img {
      margin-block-end: .5rem;
    }
  }

  figcaption {
    font-size: $step--1;
  }

  .censored {
    filter: blur(3.5px);
    user-select: none;
  }

  .note {
    font-size: $step--1;
  }

  .footnotes {
    color: $text-secondary;
    font-size: $step--1;
  }

}