@use '../variables' as *;
@use '../mixins';

.writingInner {
  max-width: 65ch;
  width: 100%;
  padding-block-end: 4rem;

  &__heading {
    font-family: 'Avenir';
    font-size: $step-4;
    margin-block: 1.5rem;
  }

  .article {
    padding-block-end: 3rem;

    ol {
      @include mixins.flow;
    }
  }

  hr {
    margin-block-start: $hr-spacing;
  }

  h2 {
    font-size: $step-3;
  }

}