@use '../variables' as *;

.now {
  padding-block-start: 1.25rem;
  padding-block-end: 6rem;

  &__title {
    color: $rose-gold;
  }

  &__subheading {
    font-family: 'le murmure';
    color: $text-secondary;
  }

  &__description {
    font-size: $step--1;
    color: $text-secondary;
  }

  &__image {
    border-radius: 4px;
  }
}