@use '../variables' as *;

.writingPage {
  padding-block-start: 1.25rem;
  padding-block-end: 6rem;

  &__title {
    color: $rose-gold;
    margin-block-end: 1rem;
  }
}

.cardSection {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0;
}

.card {
  border: 1px solid $light-pink;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-height: 186px;
  padding: 0.75rem;
  max-width: 60ch;

  .row {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    font-family: 'le murmure';
    font-size: 1.75rem;
  }

  &__date,
  &__category {
    text-align: right;
    color: $text-secondary;
  }

  &:hover,
  &:focus,
  &:focus-visible,
  &:has(.card__link:hover),
  &:has(.card__link:focus),
  &:has(.card__link:focus-visible) {
    outline: 1px solid $rose-gold;
  }

  &:hover {
    .card__link:before {
      transform: scaleY(1);
    }
  }

  &--featured {
    position: relative;

    .card__featured-designation {
      color: $rose-gold;
      font-size: $step-5;
      font-family: 'le murmure';
      top: .75rem;
      right: .75rem;
      position: absolute;
    }
  }

}

@media (min-width: $breakpoint-md) {
  .cardSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    // styles i'm not keeping but can't bring myself to delete
    // grid-template-columns: repeat(10, 1fr);
    // grid-template-rows: auto;
    // grid-template-areas:
    //   "left left left centralWide centralWide centralWide centralWide centralWide right right"
    //   "left left left central central central centralSmall centralSmall right right"
    // ;

    // :nth-child(1) {
    //   grid-area: left;
    // }

    // :nth-child(2) {
    //   grid-area: centralWide;
    // }

    // :nth-child(3) {
    //   grid-area: right;
    // }

    // :nth-child(4) {
    //   grid-area: central;
    // }

    // :nth-child(5) {
    //   grid-area: centralSmall;
    // }

    // :nth-child(6) {
    //   grid-row: 3;
    // }

    // :nth-child(7) {
    //   grid-row: 3;
    // }
    // grid-template-rows: masonry;
  }
}