@use 'variables' as *;
@use 'mixins';

html:focus-within {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 5rem;
}

header,
section,
footer {
  padding-inline: $container-padding;
}

section,
footer {
  max-width: 1600px;
  margin-inline: auto;
}

body {
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  font-family: "le murmure";
  letter-spacing: 5ch;
  margin-block: $hr-spacing;

  &::before {
    content: '§ § §';
    // '⚡'
    display: block;
    text-align: center;
  }
}


// Utils
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  padding-inline: $container-padding;
}

.flex {
  display: flex;

  &--col {
    flex-direction: column;
  }
}

// From CUBE CSS https://piccalil.li/blog/cube-css/ https://piccalil.li/blog/flow-utility/
.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

// Shared
.outline-font {
  color: $rose-gold;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $rose-gold;
  font-family: 'le murmure';

  // to do - these aren't working right but i wanna save the animations for later just in case
  // position: relative;
  // background-clip: text;

  // &:before {
  //   content: attr(data-title);
  //   color: transparent;
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background: $rose-gold;
  //   width: 0;
  //   transition: width 1s ease-in;
  //   background-clip: text;
  // }

  // &:hover:before {
  //   width: 100%;
  // }

  &.black {
    color: #000;
    -webkit-text-stroke-color: #000;
  }
}

.link {
  text-decoration: none;
  position: relative;
  width: max-content;

  &::before {
    @include mixins.animatedUnderline;
  }

  &,
  &:visited {
    color: #fff;
  }

  &:hover,
  &:focus {
    &::before {
      transform: scaleY(1);
    }
  }

  &.rosegold,
  &.rosegold:visited {
    color: $rose-gold;

    &::before {
      background-color: $rose-gold;
    }
  }

  &.textSecondary,
  &.textSecondary:visited {
    color: $text-secondary;

    &::before {
      background-color: $text-secondary;
    }
  }
}

.breadcrumb.link {
  font-family: 'le murmure';
  font-size: 1.8rem;

  &:before {
    all: unset;
    background-color: transparent;
    content: '<';
    display: inline-block;
    margin-right: 1ch;
  }

  &:hover &:before {
    text-decoration: none;
  }

  &::after {
    @include mixins.animatedUnderline;
    background-color: $rose-gold;
    // these are so that the back arrow is not underlined
    left: 2ch;
    width: calc(100% - 2ch);
  }

  &:hover,
  &:focus {
    &::after {
      transform: scaleY(1);
    }
  }

}