@use 'variables' as *;

@font-face {
  font-family: 'le murmure';
  font-display: swap;
  src: url('/assets/Le_Murmure.woff2') format('woff2');
}

@font-face {
  font-family: 'le murmure numbers';
  font-display: swap;
  src: url('/assets/subset-LeMurmure-Regular.woff2') format('woff2');
}

body {
  font-size: $step-0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'le murmure';
  font-size: $step-10;
}

h2 {
  font-size: $step-10;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.outline-font {
  color: $rose-gold;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $rose-gold;
  font-family: 'le murmure';

  // animation styles
  background-clip: text;
  position: relative;
  max-width: max-content;

  &:before {
    content: attr(data-title);
    color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $rose-gold;
    width: 0;
    transition: width 1s cubic-bezier(.61, .17, .01, .94);
    background-clip: text;
  }

  &.revealed:before {
    width: 100%;
  }

  &.black {
    color: #000;
    -webkit-text-stroke-color: #000;
  }
}

.leMurmure {
  font-family: 'le murmure';
}