@use '../variables' as * ;

.about {
	margin-block: 2rem;

	&__headshot {
		border-radius: 100%;
		height: 25vh;
		width: 25vh;
		margin-inline: auto;
		margin-block-end: 3rem;
		object-fit: cover;
		object-position: 70% 0;
	}

	&__content {
		text-align: center;
	}

	&__title {
		margin-block-end: 1rem;

		&-decoration {
			display: none;
		}
	}

	@media (min-width: $breakpoint-md) {
		// to do - can this be fluid too? 
		&__headshot {
			height: 40vh;
			width: 40vh;
		}

		&__title-decoration {
			display: inline-block;
			margin-inline-start: .5ch;
		}
	}

	@media (min-width: $breakpoint-lg) {
		display: flex; 
		padding-inline: 10%;
		margin-block: 5rem;

		&__headshot {
			margin-inline-start: 0;
			margin-inline-end: 6rem;
		}

		&__content {
			text-align: left;
			max-width: 600px;
		}

		&__title {
			margin-block-end: 2.5rem;
		}
	}

}