@use '../variables' as * ;

.blog {
	text-align: center;
	margin-block-end: 4rem;

	&__title {
		font-size: $step-10;
		margin-block-end: 2rem;
	}

	&__posts {
		max-width: 850px;
		margin-inline: auto;
	}

	.link {
		color: #000;
		// to do - find a different step since i still want it smaller on mobile
		font-size: $step-1;
		font-weight: 500;
		
		&:not(:last-child) {
			&:after {
				content: "/";
				display: inline-block;
				margin-right: 0.5rem;
			}
		}
		&-number {
			color: $rose-gold;
		}
	}

	@media (min-width: $breakpoint-md) {
		margin-block-end: 12rem;
	}
}