@use '../variables' as * ;

.footer {
	display: grid;
	grid-template-columns: repeat(2, auto);
	margin: 0 5%;
	.bryn {
		align-items: center;
		display: flex;
		font-family: "le murmure";
		font-size: 2rem;
		grid-row: 1 / span 2;
		text-align: left;
	}
	.year {
		font-family: Avenir;
		font-size: 1rem;
		margin-left: 4px;
		padding-bottom: 4px;
	}
	.social-links {
		justify-self: end;
		@media (max-width: $breakpoint-sm) {
			justify-content: center;
		}
	}
	.logo path {
		fill: black;
	}
	.henry {
		grid-column: 2;
		text-align: right;
		margin-right: 0.75rem;
		a {
			color: $rose-gold;
		}
	}

	@media (max-width: $breakpoint-sm) {
		display: flex;
		flex-direction: column;
		align-items: center;
		.bryn {
			margin-bottom: 1rem;
		}
	}
}
