@use '../variables' as * ;

.header {
	background: linear-gradient(#e0a6a4, $light-pink);
	color: #fff;
	position: relative;

	&__image {
		height: 24vh;
		left: 0;
		mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
		object-fit: cover;
		object-position: 0 45%;
		position: absolute;
		top: 0;
		width: 100%;
	}

	&__content {
		font-size: 1rem;
		padding-block-start: 12rem;
		padding-inline: 0;
		width: 100%;
	}

	&__title {
		font-family: "le murmure";
	}

	&__decoration {
		display: none;
	}

	&__description {
		margin-block-end: 1rem;
	}
}

.site-sections {
	font-size: 3rem;
	font-family: "le murmure";
	margin-block-start: 1rem;

	.link:not(:last-child) {
		margin-inline-end: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
	}
}

@media (min-width: $breakpoint-sm) {
	.header {
		&__content {
			padding-block-start: 14rem;
		}
		&__description {
			// to do - make this not a magic number
			// actually past bryn, it's staying a magic number for now.
			// it's in one singular spot and makes sense. exceptions are allowed
			max-width: 534px;
		}
	}
}

@media (min-width: $breakpoint-lg) {
	.header {
		align-items: flex-end;
		background: url("/assets/mainBG.jpg");
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		display: flex;
		height: 100vh;
		padding-bottom: 2rem;
		
		&__image {
			display: none;
		}
		
		&__content {
			align-items: flex-end;
			background: transparent;
			justify-content: space-between;
			display: flex;
			gap: 3rem;
		}

		&__title {
			white-space: nowrap;
		}

		.site-sections {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			white-space: nowrap;
			.link:not(:last-child) {
				margin-inline-end: 0;
			}
		}
	}
}