@use '../../variables' as *;

.writing {
	margin-block-end: 4rem;

	&__title-container {
		display: flex;
		justify-content: center;
	}

	&__title {
		margin-block-end: 2rem;
	}

	&__posts {
		max-width: 850px;
		margin-inline: auto;
	}

	.link {
		color: #000;
		display: unset;
		font-size: $step-1;
		font-weight: 500;
		text-decoration: none;

		// can't use my cute animation the way it's currently built here since a psuedo element can't line wrap
		&:hover,
		&:focus {
			text-decoration: underline;
		}

		&::before {
			content: none;
		}

		&:not(:last-child) {
			&:after {
				content: "/";
				display: inline-block;
				margin-right: 0.5rem;
			}
		}

		&-number {
			color: $rose-gold;
		}
	}

		&__page-link.link {
		display: block;
		margin-inline: auto;
		margin-block-end: .5rem;
	}

	@media (min-width: $breakpoint-md) {
		margin-block-end: 12rem;
		text-align: center;
	}
}