---
layout: layout.njk
---

<header class="header">
  <img src="/assets/mainBG.jpg" class="header__image" alt="" />
  <section class="header__content">
    <h1 class="header__title">
      bryn newell<span class="header__decoration" aria-hidden="true">—</span>
    </h1>
    <div class="flex--col">
      <p class="header__description">
        Hi there!<br />I'm bryn (she/her), a creative developer passionate about
        creating accessible and beautiful front-end code, curating communities,
        and moving the needle forward in any environment I can.
      </p>

      {% include 'socialLinks.html' %}
    </div>
    <nav class="site-sections">
      <a class="link" href="#writing">writing</a>
      <a class="link" href="#projects">projects</a>
      <a class="link" href="#resume">resume/cv</a>
    </nav>
  </section>
</header>

<section class="about home">
  <img src="/assets/fun-headshot.jpeg"
    alt="a photo of bryn, a white woman with blonde hair holding up a peace sign in front of an aspen forest."
    class="about__headshot" />
  <div class="about__content">
    <h2 class="about__title outline-font" data-title="about me">
      about me<span class="about__title-decoration" aria-hidden="true">—</span>
    </h2>
    <p>
      I'm passionate about the a11y community and using tech to bring people
      together. I love using my expertise on accessibility and beautiful design
      to improve the experience of the web for all users. I take the ego out of
      my work, bring positivity, and believe in leading by example through
      building my collaborators and teammates up together.
      <br /><br />
      At the moment I'm located in Colorado, though I’m an avid traveler and have spent many moons doing the "digital
      nomad" thing. I also love motorcycles, yoga, and reading. If you’re nosy like me, or curious to hear more, take a
      peek at <a href="/now" class="link rosegold">what I’m up to now.</a>
      <br /><br />
      I’m currently looking for my next full time role, so please peruse my sight, my resume, and
      <a href="mailto:bryn.codes@gmail.com" class="link rosegold">get in touch!</a>
    </p>
  </div>
</section>

<section id="writing" class="writing">
  <h2 class="writing__title outline-font" data-title="writing">writing</h2>
  <div class="writing__posts">

    {% for article in collections.article %}
    <a class="link" href={{ article.url }}>
      <span class="link-number">0{{ loop.index }}. </span>
      {{ article.data.title }}
    </a>
    {% endfor %}
    <a class="link" href="/writing">
      <span class="link-number">00.</span>
      view all writing
    </a>

  </div>
</section>

{% include 'projects.njk' %}

<section id="resume" class="resume">
  <h2 class="resume__title outline-font" data-title="resume">resume/cv</h2>
  <a href="/assets/BrynNewellResume.pdf" target="_blank" class="resume__download link" download>DOWNLOAD THE PDF</a>
</section>

<footer class="footer">
  {% include 'footerContent.njk' %}
</footer>