---
layout: _innerPage.njk
title: Links
pageDescription: community garden! here's some folks i like!
---

<nav class="container nav">
  <a href="/" class="breadcrumb link rosegold">return home</a>
  <a href="/" class="nav__home link rosegold">
    bryn newell
    <span class="nav__home-detail breadcrumb link rosegold">return home</span>
  </a>
</nav>

<section class="now flow writingInner">
  <h1 class="now__title">links</h1>


  <section class="post__likes" data-bsky-container>
  </section>

</section>