---
layout: _innerPage.njk
title: Now
pageDescription: Hear about what I'm up to now
---

<nav class="container nav">
  <a href="/" class="breadcrumb link rosegold">return home</a>
  <a href="/" class="nav__home link rosegold">
    bryn newell
    <span class="nav__home-detail breadcrumb link rosegold">return home</span>
  </a>
</nav>

<section class="now flow writingInner">
  <h1 class="now__title">now</h1>
  <h2 class="now__subheading">profesh life</h2>
  <p>Professionally my interest has always and still lies in beautiful user experience and writing front-end code. If I
    could spend all day writing vanilla CSS (or Sass), exploring new animation techniques, and updating sites to be
    accessible for all, I would be a happy coder indeed. I’ve spent a lot of time being a “full stack engineer” and I
    long for the day I can be front-end focused only. Building sites from scratch, working with designers, and
    prioritizing the user above all is what makes me passionate about this work.</p>

  <h2 class="now__subheading">personal life</h2>
  <p>In my recent past, I spent almost two years living nomadically. Mostly journeying across Latin America, I learned
    Spanish along the way and would hop countries every month. I found myself drawn towards tiny surfing or jungle
    towns, where a bicycle and your two feet were the only thing you needed to get around. I also skipped over to
    Vietnam and Cambodia for a stint, had a ‘wedding season’ that took me all across the US, and drove back and forth
    between Colorado and California no fewer than 4 times. Travel is my passion. Exploring cultures and hearing stories
    from the folks who live in different places brings me joy. Widening my perspective in any way I can and adventuring
    is what gives me life.</p>

  <p>While in my home state of Colorado I’ve found another sense of adventure - motorcycles. I’ve currently got a 2009
    Triumph Thruxton. She’s black and champagne gold named Barbara Jean. I spent the summer modifying and customizing it
    to be more comfortable for going on long distance rides and took it on my first motorcycle camping trip! I’m hoping
    to build my first chopper this coming spring and cannot wait to get back on the road with the Denver and Colorado
    Springs <a href="https://thelitas.co/" target="_blank" rel="noopener noreferrer" class="link rosegold">Litas.</a>
  </p>

  <img src="/assets/moto.png" class="now__image"
    alt="a black and gold triumph cafe motorcycle, pulled over on dirt overlooking a gorgeous rocky mountain vista" />

  <p>On the quieter side of life, I’m also incredibly into yoga, all things metaphysical, and reading. In 2023 something
    switched back on in my brain and I read my first book “just for fun” since I was kid. I ended the year having read
    50 books and in 2024 I read a whopping 75. I’m mostly into fantasy but I usually rotate at least 3 books at time,
    dropping some buddhism or psychology non-fiction in there as well. It’s on my coding to do list to hook up my
    Storygraph here so you can see what I’m reading in real time! Until then - go pop over and <a
      href="https://app.thestorygraph.com/profile/bryn_olivia" target="_blank" rel="noopener noreferrer"
      class="link rosegold">follow me</a> if you’re
    interested in my reading journey :)</p>
  </p>
  <hr />
  <p class="now__description">learn more about what a now page is: <a href="https://nownownow.com/about" target="_blank"
      rel="noopener noreferrer" class="link rosegold">https://nownownow.com/about</a></p>

</section>