---
layout: _innerPage.njk
---

<section class="writingPage">
  <nav>
    <a href="/" class="breadcrumb link rosegold">return home</a>
  </nav>
  <h2 class="writingPage__header">writing</h2>
  <section class="cardSection">
    <!-- to do - sort the collections by date -->
    {% for article in collections.article %}
    <article class="card">
      <h3>{{ article.data.title }}</h3>
      <div class="row">
        <a href={{ article.url }} class="card__link link rosegold">read more</a>
        <!-- to do - use article.date and format instead -->
        <p class="card__date">{{ article.data.displayDate }}</p>
      </div>
    </article>
    {% endfor %}
  </section>
</section>