---
pagination:
  data: writings
  size: 1
  alias: blog
permalink: "writing/{{ blog.url | slugify }}/"
layout: layout.njk
---
<section class="writingInner">
  <nav>
    <a href="/writing" class="breadcrumb link rosegold">return to writing</a>
  </nav>

  <h1 class="writingInner__heading">{{ blog.title }}</h1>

</section>