@use 'variables' as *;
@use 'mixins';

@font-face {
  font-family: 'le murmure';
  src: url('/assets/Le_Murmure.woff2') format('woff2');
}

html:focus-within {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 5rem;
}

header,
section,
footer {
  padding-inline: $container-padding;
}

section,
footer {
  max-width: 1600px;
  margin-inline: auto;
}

body {
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  font-family: "le murmure";
  letter-spacing: 5ch;
  margin-block: $hr-spacing;

  &::before {
    content: '§ § §';
    // '⚡'
    display: block;
    text-align: center;
  }
}


// Utils
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.container {
  padding-inline: $container-padding;
}

.flex {
  display: flex;

  &--col {
    flex-direction: column;
  }
}

// From CUBE CSS https://piccalil.li/blog/cube-css/ https://piccalil.li/blog/flow-utility/
.flow>*+* {
  margin-block-start: var(--flow-space, 1em);
}

// Shared
.outline-font {
  color: $rose-gold;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $rose-gold;
  font-family: 'le murmure';

  &.black {
    color: #000;
    -webkit-text-stroke-color: #000;
  }
}

.link {
  text-decoration: none;
  position: relative;

  &::before {
    @include mixins.animatedUnderline;
  }

  &,
  &:visited {
    color: #fff;
  }

  &:hover,
  &:focus {
    &::before {
      transform: scaleY(1);
    }
  }

  &.rosegold,
  &.rosegold:visited {
    color: $rose-gold;

    &::before {
      background-color: $rose-gold;
    }
  }
}

.breadcrumb.link {
  font-family: 'le murmure';
  font-size: 1.5rem;

  &:before {
    all: unset;
    background-color: transparent;
    content: '<';
    display: inline-block;
    margin-right: 1ch;
  }

  &:hover &:before {
    text-decoration: none;
  }

  &::after {
    @include mixins.animatedUnderline;
    background-color: $rose-gold;
    // these are so that the back arrow is not underlined
    left: 2ch;
    width: calc(100% - 2ch);
  }

  &:hover,
  &:focus {
    &::after {
      transform: scaleY(1);
    }
  }

}