@use 'variables' as * ;

body {
  font-size: $step-0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'le murmure';
  font-size: $step-9;
}

h2 {
  font-size: $step-8;
}

h1, h2, h3, h4 {
  font-weight: normal;
}